[submodule "flatpak/shared-modules"]
	path = flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "src/writegood"]
	path = src/writegood
	url = https://github.com/ThiefMD/libwritegood-vala
[submodule "src/ultheme"]
	path = src/ultheme
	url = https://github.com/TwiRp/ultheme-vala
[submodule "src/writeas"]
	path = src/writeas
	url = https://github.com/ThiefMD/writeas-vala.git
[submodule "src/ghost"]
	path = src/ghost
	url = https://github.com/ThiefMD/ghost-vala.git
[submodule "data/language-specs"]
	path = data/language-specs
	url = https://github.com/ThiefMD/custom-gtksourceview-languages.git
	branch = main
[submodule "src/wordpress"]
	path = src/wordpress
	url = https://github.com/ThiefMD/wordpress-vala.git
	branch = main
[submodule "src/bibtex"]
	path = src/bibtex
	url = https://github.com/ThiefMD/BiBtex-vala.git
