Source: com.github.kmwallio.thiefmd
Section: x11
Priority: extra
Maintainer: kmwallio <mwallio@gmail.com>
Build-Depends: meson,
               git,
               ninja-build,
               valac,
               cmake,
               debhelper (>= 9),
               libgtk-3-dev,
               valac,
               libgtksourceview-3.0-dev,
               libwebkit2gtk-4.0-dev,
               libmarkdown2-dev,
               libgtkspell3-3-dev,
               pandoc,
               libclutter-1.0-dev,
               libxml2-dev,
               libarchive-dev,
               libgee-0.8-dev
Standards-Version: 4.5.0
Homepage: https://thiefmd.com

Package: com.github.kmwallio.thiefmd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, pandoc
Description: Markdown Library Manager and Editor
  built on the efforts of other OSS.
