.undershoot.top, .undershoot.right, .undershoot.bottom, .undershoot.left {
    background-image: none;
    border: 0;
}

.undershoot, .undershoottop, .undershootright, .undershootbottom, .undershootleft {
    background-image: none;
    border: 0;
}

.small-text {
    font-family: 'iA Writer Duospace';
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.focus-text {
    font-family: 'iA Writer Duospace';
    font-size: 1.35rem;
    letter-spacing: 2px;
}

.full-text {
    font-family: 'iA Writer Duospace';
    font-size: 1.45rem;
    letter-spacing: 2px;
}
