@define-color colorPrimary #EFEFEF;
@define-color colorPrimaryActive #DFDFDF;
@define-color textColorPrimary #0C0C0C;
@define-color textColorActive #000000;

.thiefmd-toolbar {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}

actionbar,
.action-bar {
    border-top-color: transparent;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}

.thief-list-sheet {
    border-bottom: 1px solid #0c0c0c;
    border-radius: 0;
}

.thief-list-sheet-active {
    background: @colorPrimaryActive;
    color: @textColorActive;
}
