@define-color colorPrimary #EFEFEF;
@define-color colorPrimaryActive #DFDFDF;
@define-color textColorPrimary #0C0C0C;
@define-color textColorActive #000000;
@define-color windowColor #2c292d;
@define-color selectionColor #0C8DB1;

.thiefmd-toolbar, .thief-search-box {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}

filechooser {
    background: @windowColor;
    color: @colorPrimary;
}

.thiefmd-toolbar button,
.thief-search-button,
.thief-search-matches {
    background: @colorPrimary;
    color: @textColorPrimary;
}

menu {
    background: @windowColor;
    color: darker(@colorPrimaryActive);
}

.thiefmd-toolbar button:active,
.thiefmd-toolbar button:hover,
.thiefmd-toolbar button:hover:active,
.thief-search-button:hover,
.thief-search-button:active,
.thief-search-button:hover:active {
    background: lighter(@colorPrimary);
    color: @textColorPrimary;
}

actionbar,
.action-bar {
    border-top-color: transparent;
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
}

.thief-drop-above {
    margin-bottom: 1.5rem;
}

.thief-drop-below {
    margin-top: 1.5rem;
}

.thief-list-sheet {
    background: @windowColor;
    border-bottom: 1px solid @textColorPrimary;
    border-radius: 0;
    color: darker(@colorPrimaryActive);
}

.thief-list-sheet-active,
.thief-search-input {
    background: @colorPrimaryActive;
    color: @textColorActive;
}

filechooser actionbar, filechooser, filechooser stack, placessidebar, window {
    background: @windowColor;
    color: @colorPrimary;
}

placessidebar, treeview {
    background: lighter(@windowColor);
    color: @colorPrimary;
}

treeview.view header button {
    background: lighter(@windowColor);
    color: @colorPrimary;
}

placessidebar *:selected, treeview.view:selected {
    background: @selectionColor;
    color: @colorPrimary;
}
