name: ThiefDaily

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: 'true'
        
      - name: Add vala next
        run: sudo add-apt-repository ppa:vala-team/daily

      - name: Update Ubuntu
        run: sudo apt-get update

      - name: Install build essentials
        run: sudo apt-get install build-essential meson ninja-build valac cmake libgspell-1-dev libwebkitgtk-6.0-dev libmarkdown2-dev libxml2-dev libarchive-dev libgtk-4-dev libgee-0.8-dev libgtksourceview-5-dev libsecret-1-dev libadwaita-1-dev liblink-grammar-dev libjson-glib-dev libspelling-1-dev

      - name: Setup Build
        run: meson setup build --reconfigure -Dbuild_tests=true

      - name: Run Build
        run: meson compile -C build

      - name: Test
        run: meson test -C build --print-errorlogs
